<div class="card col-span-1 h-37">
    <div class="grid grid-cols-6 gap-5 h-full" (click)="viewProduct()" routerLink="/product">
        <div class="col-span-2 max-h-37 max-w-40 flex justify-center items-center">
            <img rel="component image" src="{{product.product.cover}}" class="max-h-32">
        </div>
        <div class="col-span-2">
            <div class="mt-3 text-base sm:text-lg truncate sm:overflow-visible">
                {{product.product.name}}
            </div>
            <div class="mb-3 text-lime text-xs sm:text-base">
                {{product.product.manufacturer}}
            </div>
            <div class="text-xxs sm:text-xs">
                {{product.product.shortDesc}}
            </div>
        </div>
        <div class="col-span-2 flex justify-center">
            <div>
                <div class="mt-3 text-xxs sm:text-xs text-gray">
                    UNIT PRICE: ${{product.product.price}}
                </div>
                <div class="mt-1 text-base sm:text-xl text-white">
                    ${{product.product.price * product.quantity | number : '1.2-2'}}
                </div>
                <div class="mt-2 sm:mt-5 flex text-center">
                    Quantity: {{product.quantity}}
                </div>
            </div>
        </div>
    </div>
</div>